<carousel>
  <slide>
    <img src="assets/images/slider/slider1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>Comfort</h1>
      <h3>Comfort on car's board chosen with taste !</h3>
    </div>
  </slide>
  <slide>
    <img src="assets/images/slider/slider2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>Luxury</h1>
      <h3>Perfection of details choice !</h3>
    </div>
  </slide>
  <slide>
    <img src="assets/images/slider/slider3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>Speed</h1>
      <h3>Cover a large space in a short time !</h3>
    </div>
  </slide>
</carousel>
