<div class="card text-center">
  <div class="card-header">
    <h5>Featured</h5>
  </div>
  <div class="card-body">
    <img src="..." class="card-img-top" alt="Footer Picutre">
    <div class="card-body">
      <h5 class="card-title">Public Transport</h5>
      <p class="card-text">In order to preserve nature, we strongly recommend that you take the public transport available to you !</p>
      <a href="/" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card-footer text-muted">
    <p> Copyright, All rights reserved !</p>
  </div>
</div>
