<div class="bg-secondary">
  <h1 class="text-header text-white bg-secondary">Step 1 - Select your Model</h1>
  <p class="text-header text-white bg-secondary">Simply Click on the Picture to select the Model and Click to the button Next Step to continue!</p>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmw1.jpg" alt=""
           (click)="this.selectionStep1('Série 1')">
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série 1"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmwm1.jpg" alt=""
        (click)="this.selectionStep1('Série M1')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série M1"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmw2coupe.jpg" alt=""
              (click)="this.selectionStep1('Série 2 Coupé')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série 2 Coupé"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmw2grancoupe.jpg" alt=""
              (click)="this.selectionStep1('Série 2 Gran Coupé')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série 2 Gran Coupé"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmw3berline.jpg" alt=""
              (click)="this.selectionStep1('Série 3 Berline')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série 3 Berline"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmwm3berline.jpg" alt=""
              (click)="this.selectionStep1('Série M3 Berline')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série M3 Berline"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmw4coupe.jpg" alt=""
              (click)="this.selectionStep1('Série 4 Coupé')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série 4 Coupé"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmw4grancoupe.jpg" alt=""
              (click)="this.selectionStep1('Série 4 Gran Coupé')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série 4 Gran Coupé"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmwm4coupe.jpg" alt=""
              (click)="this.selectionStep1('Série M4 Coupé')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série M4 Coupé"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img class="fit-picture" src="assets/images/models/bmwm8coupe.jpg" alt=""
              (click)="this.selectionStep1('Série M8 Coupé')" >
      </div>
      <div class="card-block px-2 col-md-2">
          <h4 class="card-title">{{"BMW"}}</h4>
          <p class="card-text">{{"Série M8 Coupé"}}</p>
          &nbsp;
      </div>
      <div>
        <a [routerLink]="['/configuratorMotor']" class="btn-lg btn-dark">Next Step</a>
      </div>
    </div>
    &nbsp;&nbsp;
  </li>
</ul>
